{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="form-container">
    <h1 class="puff-in-center">OntoQuest</h1>
    <form method="POST">
        <div class="form-group">
            <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter Email"
            />
        </div>
        <div class="form-group">
            <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Enter Password"
            />
        </div>
        <p class="create-account"><a id="passwordforgot" href="/forgot-password">Forgot password?</a></p>
        <br />
        <button type="submit" class="btn-primary">Login</button>
        <p class="create-account">Don't have an account? <a id="signup" href="/sign-up">Create one</a></p>
    </form>
</div>
{% endblock %}