{% extends "base.html" %}

{% block title %}Number of Questions{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/number-question.css') }}">
{% endblock %}

{% block content %}
<!-- Sidebar navigation -->
<nav class="sidebar-navigation">
    <ul>
        <li class="active">
            <a href="/">
                <ion-icon name="home-outline"></ion-icon>
                <span class="tooltip">Home</span>
            </a>
        </li>
        <li class="active">
            <a href="/ontology-selection">
                <ion-icon name="caret-back-outline"></ion-icon>
                <span class="tooltip">Back</span>
            </a>
        </li>
        <li class="active">
            <a href="/logout">
                <ion-icon name="log-out-outline"></ion-icon>
                <span class="tooltip">Logout</span>
            </a>
        </li>
    </ul>
</nav>

<!-- Page content -->
<h1 class="title">Number Of Questions</h1>
<form method="POST">
    <div class="slidecontainer">
        <input type="range" min="0" max="50" value="5" step="5" class="slider" name="numberRange" id="numberRange" oninput="rangeValue.innerText = this.value">
        <div class="sliderticks">
            {% for i in range(0, 11) %}
                <span>{{ i*5}}</span>
            {% endfor %}
        </div>
    </div>

    <!-- Next button to navigate to another page -->
    <button type="submit" class="next-button" name="nextPage">Start</button>
</form>

<!-- Include ionicons library for icons -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock %}
