{% extends "base.html" %}

{% block title %}Summary{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/summary.css') }}">
{% endblock %}

{% block content %}
<!-- Title for the summary page -->
<h1 class="title">Summary of Completed Definitions</h1>
<div class="container">
    <div class="definitions">
        <!-- Display validated definitions -->
        <div class="definition_summary">
            <h3>Validated Definitions:</h3>
            <div class="scrollable-content">
                <ul>
                    {% for definition in user_validated_definition %}
                    <li class="definition_class">
                        <span>{{ definition.profile_class }}:</span> {{ definition.profile_definition }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- Progress bar section for vocabulary enrichment score -->
        <div class="progress-bar-section">
            <div class="progress-bar">
                <div class="progress-bar-fill" style="height: {{vocab_score}}%;"></div>
            </div>
        </div>
        <!-- Display revised definitions -->
        <div class="definition_summary">
            <h3>Revised Definitions:</h3>
            <div class="scrollable-content">
                <ul>
                    {% for definition in user_revised_definition %}
                    <li class="definition_class">
                        <span>{{ definition.profile_class }}:</span> {{ definition.profile_definition }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="score"><p>Vocabulary Enrichment Score: {{vocab_score}}%</p></div>
</div>

<!-- Navigation link to home -->
<a class="nav-item nav-link" id="home" href="/">Home</a>

<!-- Include ionicons library for icons -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}
