body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.sidebar-navigation {
    width: 5%;
    background-color: #64203F;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Adjusted to stretch the items to fill the width */
}

.sidebar-navigation ul {
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;

}

.sidebar-navigation ul li {
    padding: 20px 0;
    cursor: pointer;
    transition: all ease-out 120ms;
    position: relative;

}

.sidebar-navigation ul li ion-icon {
    display: block;
    margin: -10px auto;
    padding: 10px;
    font-size: 24px;
    transition: all ease 450ms;
}

.sidebar-navigation ul li .tooltip {
    display: inline-block;
    position: absolute;
    background-color: #64203F;
    padding: 8px 15px;
    border-radius: 3px;
    margin-top: -26px;
    margin-left: 100%;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: white;
    z-index: 1;
    transition: all ease 0.3s;
}

.sidebar-navigation ul li .tooltip:before {
    content: '';
    display: block;
    position: absolute;
    left: -4px;
    top: 10px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: inherit;
}

.sidebar-navigation ul li:hover {
    background-color: #2b0730;
}

.sidebar-navigation ul li:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.sidebar-navigation ul li.active ion-icon {
    color: white;
}



h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 60px;
    margin: 0 0 20px; /* Adjust the top margin to move the title higher */
    padding: 0; /* Reset padding to remove any unintended spacing */
}

h3 {
    font-family: "Barlow"

}
p {
    color: white;
    width: 40%;
    margin: 10px auto 30px;
    display: block;
    text-align: center;
    font-style: italic;
}

.selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;


}

#department-select {
    text-align: center;
    width: 25%;
    padding: 10px;
    border: 2px solid #000000;
    font-size: 16px;
    color: white;
    font-style: italic;
    margin: 20px auto;
    display: block;
    background-color: #2B0730;
     /* Style the arrow */
    -webkit-appearance: none; /* Remove default arrow on Chrome and Safari */
    -moz-appearance: none; /* Remove default arrow on Firefox */
    appearance: none; /* Remove default arrow on other browsers */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="18px" height="18px"><path d="M7 10l5 5 5-5z"/></svg>'); /* Custom arrow icon */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Position the arrow icon */
    background-size: 18px; /* Set the size of the arrow icon */
    padding-right: 40px; /* Adjust padding to accommodate the arrow icon */
}

.next-button {
    display: block;
    margin:30px auto 0px;
    padding: 10px 20px;
    background-color: #45336E;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 35px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    width: 15%;
}

.next-button:hover {
    background-color: #2b0731;
    text-decoration: none;
    cursor: pointer;
    color: white;
}
