body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative; /* Ensure the body is relatively positioned */
}

#home {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #46336e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#home:hover {
    background-color: white;
    border: solid;
    color: #46336e;
}

h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 60px;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: "Barlow";
    font-weight: bold;
    font-size: 20px; /* Adjust the font size for the name */
    margin-top: 10px; /* Add spacing between the image and the name */
}


.text p {
    color: white;
    width: 40%;
    margin: 10px auto 15px;
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 12px;
}

.current-definition {
    background-color: #E0E0E0;
    color: black;
    padding:4px;
    border-radius: 10px;
    border: 3px solid #2B0730;
    margin-bottom: 10px;
    text-align: center;
}

.current-definition h3{
    font-size: 18px;

}

.current-definition p{
    font-size: 13px;
}

.scrollable-content {
    background-color: #45336E;
    border: 4px solid white;
    border-radius: 10px;
    max-height: 220px;
    overflow: auto;
    position: relative; /* Set the position to relative */
    padding: 5px;
    margin-bottom: 100px

}

.alternative-definitions {
    text-align: center;
    color: white;
    position: sticky; /* Set the position to sticky */
    top: 0; /* Stick to the top of the scrollable container */
    background-color: #45336E; /* Background color for the title */
    padding:2px;
    z-index: 1; /* Ensure the title is above the scrolling content */
}
.definition-cards {
    display: flex;
    justify-content: space-around; /* Adjust the space between the cards as needed */
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px; /* Add margin for spacing */
    color: white;

}
.definition-cards h3{
    font-size: 18px;
}
.definition-card {
    width: 100%;
    padding: 10px;
    margin: 10px;
    background-color: white; /* Add background color for the card */
    border-radius: 10px;
    border: 3px solid #2B0730;
    color: black;
    font-size: 13px;
}

.definition-card button {
    all: unset;

}

.definition-card:hover {
    background-color: #2b0731;
    border:3px solid white;
    cursor: pointer;
    color: white; /* Change the text color on hover */
}

.no-alt {
    color: white;
    text-align: center;
}

.next-button {
    position: absolute;
    bottom: 40px; /* Adjust the bottom position as needed */
    left: 50%;
    transform: translateX(-50%); /* Center the button horizontally */
    display: block;
    padding: 10px 20px;
    background-color: #45336E;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 35px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;


}

.next-button:hover {
    background-color: #2b0731;
    text-decoration: none;
    cursor: pointer;
    color: white;
}